@charset "UTF-8";
:root {
  --hover-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --bcg: #f5f4fa;
  --border: #ececec;
}

/* Спрятанные заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.second-topic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  padding: 24px 0 25px;
  border-bottom: 1px solid var(--border);
}

.nav {
  display: flex;
  flex-direction: row;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo__front {
  color: var(--hover-color);
}

.logo__end {
  color: black;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pages__name {
  margin-right: 50px;
}

.pages__name:last-child {
  margin-right: 0;
}

.pages__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.pages__link:hover, .pages__link:focus {
  padding: 24px 0 25px;
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.contact__link:hover, .contact__link:focus {
  color: var(--hover-color);
}

.contact__item {
  margin-left: 50px;
  display: inline-block;
}

.contact__item:first-child {
  margin-left: 0;
}

.contact__item:first-child:hover > contact__icon,
.contact__item:first-child:focus > contact__icon {
  fill: var(--hover-color);
}

.contact__icon {
  fill: var(--second-color);
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #C4C4C4;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__idea {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero__btn {
  display: block;
  font-family: inherit;
  cursor: pointer;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */