:root {
  --hover-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --bcg: #f5f4fa;
  --bcghero: #2f303a;
}
/* Спрятанные заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--white-color);
}

.second-topic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.active {
  color: var(--hover-color);
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
}
.header-nav {
  display: flex;
  flex-direction: row;
}
.link-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-front {
  color: var(--hover-color);
}
.logo-end {
  color: #000000;
}
.logo-end-two {
  color: var(--white-color);
}
.nav-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--hover-color);
}

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
.active {
  color: var(--hover-color);
}
.nav-list {
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: row;
}

/* .nav-item {
}
.contact-item {
} */

/* main */
.hero {
  background-color: var(--bcghero);
}
.hero-idea {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  font-family: inherit;
  cursor: pointer;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Преимущества*/

.excellence-list {
  display: flex;
  flex-direction: row;
  color: var(--second-color);
}

.excellence-point {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
}
/* .excellence {
}
.excellence-item {
}

.excellence-txt; */

/* Примеры */
.exx-list {
  display: flex;
  flex-direction: row;
}

/* .exx  .exx-item; */

/* Наша команда */
.team {
  background-color: var(--bcg);
}
.team-list {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-item {
  background-color: var(--white-color);
}
.team-position {
  font-weight: 400;
  color: var(--second-color);
}
/*  ;
.team-name {
}
; */

/* footer */
.footer {
  background-color: var(--bcghero);
  color: var(--white-color);
}
.address {
  font-style: normal;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
}
/* 

.address-list .address-item;
; */

/* PORTFOLIO */

/* buttons
potfolio
.portfolio-list
portfolio-item
 */

.buttons-list {
  display: flex;
  flex-direction: row;
}

.buttons-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  background: var(--bcg);
}
.buttons-item:hover,
.buttons-item:focus {
  color: var(--white-color);
  background: var(--hover-color);
}

.portfolio-point {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio-group {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
